{% extends "layout.html" %}

{% block content %}
<div class="subcontent">
    <div class="detail">
        <div class="head">
            <h2>Add Item</h2>
        </div>
        <div class="list">
            <form method="POST" action="">
                <div class="title">
                    <div>
                        <label>Title</label>
                    </div>
                    <div>
                        <input type="text" name="title" required/>
                    </div>
                </div>
                <div class="description">
                    <div>
                        <label>Description</label>
                    </div>
                    <div>
                        <input type="text" name="description" required/>
                    </div>
                </div>
                <div class="category">
                    <div>
                        <label>Category</label>
                    </div>
                    <div>
                        <select name="category">
                            {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}