{% extends "layout.html" %}

{% block content %}
<div class="subcontent">
    <div class="detail">
        <div class="head">
            <h2>{{ itemByTitle.title }}</h2>
        </div>
        <div class="list">
            Description : {{ description }}
        </div>
        {% if session.username %}
        <div class="secret">
            <a href="{{ url_for('editItem', item=itemByTitle.title) }}">Edit</a>
            |
            <a href="{{ url_for('deleteItem', item=itemByTitle.title) }}">Delete</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}