<!DOCTYPE html>
<html>

<head>
    <title>Catelogy App</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>Catalog App</h1>
            </div>
            {% if session.username %}
            <div class="logout">
                <button class="button">
                    <a href="{{ url_for('logout') }}" style="color:white">Logout</a>
                </button> </div>
            {% else %}
            <div class="login">
                <button class="button">
                    <a href="{{ url_for('login') }}" style="color:white">Login</a>
                </button>
            </div>
            {% endif %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>